body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:779px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12374 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  overflow:hidden;
}
#u12374_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12374_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12375 {
  position:absolute;
  left:0px;
  top:120px;
  width:375px;
  height:170px;
}
#u12376 {
  position:absolute;
  left:2px;
  top:77px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:40px;
}
#u12377 {
  position:absolute;
  left:3px;
  top:73px;
  width:370px;
  height:40px;
}
#u12378 {
  position:absolute;
  left:2px;
  top:12px;
  width:366px;
  word-wrap:break-word;
}
#u12379 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:107px;
}
#u12380 {
  position:absolute;
  left:109px;
  top:135px;
  width:158px;
  height:107px;
}
#u12381 {
  position:absolute;
  left:2px;
  top:46px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12382 {
  position:absolute;
  left:129px;
  top:210px;
  width:120px;
  height:20px;
}
#u12383 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u12384 {
  position:absolute;
  left:0px;
  top:510px;
  width:373px;
  height:157px;
  overflow:hidden;
  visibility:hidden;
}
#u12384_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:157px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12384_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:170px;
  background:inherit;
  background-color:rgba(245, 245, 249, 0.819607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12385 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:170px;
}
#u12386 {
  position:absolute;
  left:2px;
  top:77px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12387 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u12388 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  word-wrap:break-word;
}
#u12389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12389 {
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:50px;
}
#u12390 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  word-wrap:break-word;
}
#u12391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12391 {
  position:absolute;
  left:0px;
  top:108px;
  width:375px;
  height:50px;
}
#u12392 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  word-wrap:break-word;
}
#u12393 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12394 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12395 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u12396 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12397 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2697EB;
}
#u12398 {
  position:absolute;
  left:32px;
  top:31px;
  width:37px;
  height:23px;
  color:#2697EB;
}
#u12399 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u12400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u12400 {
  position:absolute;
  left:15px;
  top:34px;
  width:11px;
  height:16px;
}
#u12401 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u12402 {
  position:absolute;
  left:10px;
  top:8px;
  width:360px;
  height:11px;
}
#u12403 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12404 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12405 {
  position:absolute;
  left:1px;
  top:0px;
  width:373px;
  height:73px;
}
#u12406 {
  position:absolute;
  left:2px;
  top:28px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12407 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u12408 {
  position:absolute;
  left:16px;
  top:34px;
  width:11px;
  height:16px;
}
#u12409 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12410 {
  position:absolute;
  left:151px;
  top:33px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u12411 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u12412 {
  position:absolute;
  left:11px;
  top:8px;
  width:360px;
  height:11px;
}
#u12413 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12414 {
  position:absolute;
  left:21px;
  top:300px;
  width:339px;
  height:60px;
}
#u12414_input {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:40px;
}
#u12415 {
  position:absolute;
  left:21px;
  top:390px;
  width:339px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u12416 {
  position:absolute;
  left:2px;
  top:10px;
  width:335px;
  word-wrap:break-word;
}
#u12417 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12418 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12419 {
  position:absolute;
  left:404px;
  top:0px;
  width:375px;
  height:64px;
}
#u12420 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12421 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2697EB;
}
#u12422 {
  position:absolute;
  left:436px;
  top:31px;
  width:37px;
  height:23px;
  color:#2697EB;
}
#u12423 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u12424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u12424 {
  position:absolute;
  left:419px;
  top:34px;
  width:11px;
  height:16px;
}
#u12425 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u12426 {
  position:absolute;
  left:414px;
  top:8px;
  width:360px;
  height:11px;
}
#u12427 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:553px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12428 {
  position:absolute;
  left:404px;
  top:64px;
  width:375px;
  height:553px;
}
#u12429 {
  position:absolute;
  left:2px;
  top:268px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12430 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12431 {
  position:absolute;
  left:405px;
  top:0px;
  width:373px;
  height:73px;
}
#u12432 {
  position:absolute;
  left:2px;
  top:28px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12433 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u12434 {
  position:absolute;
  left:420px;
  top:34px;
  width:11px;
  height:16px;
}
#u12435 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12436 {
  position:absolute;
  left:441px;
  top:36px;
  width:29px;
  height:16px;
}
#u12437 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u12438 {
  position:absolute;
  left:599px;
  top:36px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u12439 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:18px;
}
#u12440 {
  position:absolute;
  left:480px;
  top:34px;
  width:115px;
  height:18px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:18px;
}
#u12441 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u12442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u12442 {
  position:absolute;
  left:415px;
  top:8px;
  width:360px;
  height:11px;
}
#u12443 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:18px;
}
#u12444 {
  position:absolute;
  left:473px;
  top:44px;
  width:114px;
  height:18px;
}
#u12445 {
  position:absolute;
  left:2px;
  top:1px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
