body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:660px;
}
#u382 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:660px;
}
#u383 {
  position:absolute;
  left:2px;
  top:322px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u385 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u386 {
  position:absolute;
  left:39px;
  top:263px;
  width:301px;
  height:41px;
}
#u387 {
  position:absolute;
  left:2px;
  top:12px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388 {
  position:absolute;
  left:50px;
  top:223px;
  width:276px;
  height:39px;
}
#u388_input {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u389 {
  position:absolute;
  left:50px;
  top:264px;
  width:230px;
  height:39px;
}
#u389_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:50px;
}
#u390 {
  position:absolute;
  left:11px;
  top:414px;
  width:352px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u391 {
  position:absolute;
  left:2px;
  top:16px;
  width:348px;
  word-wrap:break-word;
}
#u392 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u393 {
  position:absolute;
  left:160px;
  top:486px;
  width:85px;
  height:16px;
}
#u394 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u395 {
  position:absolute;
  left:130px;
  top:481px;
  width:25px;
  height:25px;
}
#u396 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AAAAAA;
}
#u397 {
  position:absolute;
  left:161px;
  top:576px;
  width:47px;
  height:19px;
  font-size:16px;
  color:#AAAAAA;
}
#u398 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#3285FF;
}
#u399 {
  position:absolute;
  left:94px;
  top:618px;
  width:190px;
  height:19px;
  font-size:16px;
  color:#3285FF;
}
#u400 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u401 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u402 {
  position:absolute;
  left:1px;
  top:0px;
  width:373px;
  height:27px;
}
#u403 {
  position:absolute;
  left:2px;
  top:6px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u404 {
  position:absolute;
  left:6px;
  top:8px;
  width:360px;
  height:11px;
}
#u405 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u406 {
  position:absolute;
  left:9px;
  top:39px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u407 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u408 {
  position:absolute;
  left:480px;
  top:459px;
  width:121px;
  height:25px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u409 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u410 {
  position:absolute;
  left:480px;
  top:494px;
  width:500px;
  height:44px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u411 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u412 {
  position:absolute;
  left:398px;
  top:294px;
  width:121px;
  height:25px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u413 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u414 {
  position:absolute;
  left:400px;
  top:338px;
  width:500px;
  height:44px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u415 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u416 {
  position:absolute;
  left:368px;
  top:288px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u416_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:95px;
  height:8px;
}
#u416_seg1 {
  position:absolute;
  left:87px;
  top:-4px;
  width:8px;
  height:10px;
}
#u416_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u417 {
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u418 {
  position:absolute;
  left:298px;
  top:276px;
  width:36px;
  height:31px;
  overflow:hidden;
}
#u418_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u418_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
}
#u419 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
}
#u420 {
  position:absolute;
  left:2px;
  top:3px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u418_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u418_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u421 {
  position:absolute;
  left:0px;
  top:-5px;
  width:32px;
  height:32px;
}
#u422 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:92px;
}
#u423 {
  position:absolute;
  left:79px;
  top:117px;
  width:218px;
  height:92px;
}
#u424 {
  position:absolute;
  left:2px;
  top:38px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u425 {
  position:absolute;
  left:42px;
  top:37px;
  width:120px;
  height:32px;
  font-size:15px;
}
#u426 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
