body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:875px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u634 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u635 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u636 {
  position:absolute;
  left:500px;
  top:0px;
  width:375px;
  height:667px;
}
#u637 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u638 {
  position:absolute;
  left:0px;
  top:60px;
  width:50px;
  height:30px;
  overflow:hidden;
}
#u638_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u638_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u639 {
  position:absolute;
  left:500px;
  top:60px;
  width:50px;
  height:30px;
  overflow:hidden;
}
#u639_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u639_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u640 {
  position:absolute;
  left:700px;
  top:220px;
  width:70px;
  height:40px;
  overflow:hidden;
}
#u640_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u640_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
