body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:710px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u627 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u628 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u629 {
  position:absolute;
  left:337px;
  top:66px;
  width:35px;
  height:20px;
  overflow:hidden;
}
#u629_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u629_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u630 {
  position:absolute;
  left:198px;
  top:224px;
  width:72px;
  height:26px;
  overflow:hidden;
}
#u630_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:26px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u630_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u631 {
  position:absolute;
  left:400px;
  top:178px;
  width:310px;
  height:80px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u632 {
  position:absolute;
  left:8px;
  top:4px;
  width:302px;
  word-wrap:break-word;
}
#u633 {
  position:absolute;
  left:10px;
  top:66px;
  width:30px;
  height:20px;
  overflow:hidden;
}
#u633_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u633_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
