body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:779px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12446 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  overflow:hidden;
}
#u12446_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12446_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12447 {
  position:absolute;
  left:0px;
  top:120px;
  width:375px;
  height:170px;
}
#u12448 {
  position:absolute;
  left:2px;
  top:77px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:40px;
}
#u12449 {
  position:absolute;
  left:3px;
  top:73px;
  width:370px;
  height:40px;
}
#u12450 {
  position:absolute;
  left:2px;
  top:12px;
  width:366px;
  word-wrap:break-word;
}
#u12451 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:107px;
}
#u12452 {
  position:absolute;
  left:109px;
  top:135px;
  width:158px;
  height:107px;
}
#u12453 {
  position:absolute;
  left:2px;
  top:46px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12454 {
  position:absolute;
  left:129px;
  top:210px;
  width:120px;
  height:20px;
}
#u12455 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u12456 {
  position:absolute;
  left:0px;
  top:510px;
  width:373px;
  height:157px;
  overflow:hidden;
  visibility:hidden;
}
#u12456_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:157px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12456_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:170px;
  background:inherit;
  background-color:rgba(245, 245, 249, 0.819607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12457 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:170px;
}
#u12458 {
  position:absolute;
  left:2px;
  top:77px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12459 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u12460 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  word-wrap:break-word;
}
#u12461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12461 {
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:50px;
}
#u12462 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  word-wrap:break-word;
}
#u12463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12463 {
  position:absolute;
  left:0px;
  top:108px;
  width:375px;
  height:50px;
}
#u12464 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  word-wrap:break-word;
}
#u12465 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12466 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12467 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u12468 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12469 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2697EB;
}
#u12470 {
  position:absolute;
  left:32px;
  top:31px;
  width:37px;
  height:23px;
  color:#2697EB;
}
#u12471 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u12472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u12472 {
  position:absolute;
  left:15px;
  top:34px;
  width:11px;
  height:16px;
}
#u12473 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u12474 {
  position:absolute;
  left:10px;
  top:8px;
  width:360px;
  height:11px;
}
#u12475 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12476 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12477 {
  position:absolute;
  left:1px;
  top:0px;
  width:373px;
  height:73px;
}
#u12478 {
  position:absolute;
  left:2px;
  top:28px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12479 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u12480 {
  position:absolute;
  left:16px;
  top:34px;
  width:11px;
  height:16px;
}
#u12481 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12482 {
  position:absolute;
  left:151px;
  top:33px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u12483 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u12484 {
  position:absolute;
  left:11px;
  top:8px;
  width:360px;
  height:11px;
}
#u12485 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12486 {
  position:absolute;
  left:21px;
  top:300px;
  width:339px;
  height:60px;
}
#u12486_input {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:40px;
}
#u12487 {
  position:absolute;
  left:21px;
  top:390px;
  width:339px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u12488 {
  position:absolute;
  left:2px;
  top:10px;
  width:335px;
  word-wrap:break-word;
}
#u12489 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12490 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12491 {
  position:absolute;
  left:404px;
  top:0px;
  width:375px;
  height:64px;
}
#u12492 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12493 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2697EB;
}
#u12494 {
  position:absolute;
  left:436px;
  top:31px;
  width:37px;
  height:23px;
  color:#2697EB;
}
#u12495 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u12496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u12496 {
  position:absolute;
  left:419px;
  top:34px;
  width:11px;
  height:16px;
}
#u12497 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u12498 {
  position:absolute;
  left:414px;
  top:8px;
  width:360px;
  height:11px;
}
#u12499 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:553px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12500 {
  position:absolute;
  left:404px;
  top:64px;
  width:375px;
  height:553px;
}
#u12501 {
  position:absolute;
  left:2px;
  top:268px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12502 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12503 {
  position:absolute;
  left:405px;
  top:0px;
  width:373px;
  height:73px;
}
#u12504 {
  position:absolute;
  left:2px;
  top:28px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12505 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u12506 {
  position:absolute;
  left:420px;
  top:34px;
  width:11px;
  height:16px;
}
#u12507 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12508 {
  position:absolute;
  left:441px;
  top:36px;
  width:29px;
  height:16px;
}
#u12509 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u12510 {
  position:absolute;
  left:599px;
  top:36px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u12511 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:18px;
}
#u12512 {
  position:absolute;
  left:480px;
  top:34px;
  width:115px;
  height:18px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:18px;
}
#u12513 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u12514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u12514 {
  position:absolute;
  left:415px;
  top:8px;
  width:360px;
  height:11px;
}
#u12515 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:18px;
}
#u12516 {
  position:absolute;
  left:473px;
  top:44px;
  width:114px;
  height:18px;
}
#u12517 {
  position:absolute;
  left:2px;
  top:1px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
