body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:972px;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:972px;
}
#u262 {
  position:absolute;
  left:2px;
  top:478px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:972px;
}
#u263 {
  position:absolute;
  left:450px;
  top:0px;
  width:375px;
  height:972px;
}
#u264 {
  position:absolute;
  left:2px;
  top:478px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265 {
  position:absolute;
  left:460px;
  top:57px;
  width:40px;
  height:33px;
  overflow:hidden;
}
#u265_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:33px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u265_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u266 {
  position:absolute;
  left:6px;
  top:60px;
  width:40px;
  height:33px;
  overflow:hidden;
}
#u266_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:33px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u266_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u267 {
  position:absolute;
  left:460px;
  top:57px;
  width:40px;
  height:33px;
  overflow:hidden;
}
#u267_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:33px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u267_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:443px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u268 {
  position:absolute;
  left:880px;
  top:107px;
  width:300px;
  height:443px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u269 {
  position:absolute;
  left:8px;
  top:4px;
  width:292px;
  word-wrap:break-word;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u270 {
  position:absolute;
  left:674px;
  top:113px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u271 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u272 {
  position:absolute;
  left:500px;
  top:154px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u273 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u274 {
  position:absolute;
  left:580px;
  top:154px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u275 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u276 {
  position:absolute;
  left:580px;
  top:190px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u277 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u278 {
  position:absolute;
  left:710px;
  top:204px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u279 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u280 {
  position:absolute;
  left:460px;
  top:170px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u281 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u282 {
  position:absolute;
  left:460px;
  top:240px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u283 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u284 {
  position:absolute;
  left:500px;
  top:220px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u285 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u286 {
  position:absolute;
  left:640px;
  top:230px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u287 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u288 {
  position:absolute;
  left:690px;
  top:250px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u289 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u290 {
  position:absolute;
  left:650px;
  top:270px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u291 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u292 {
  position:absolute;
  left:460px;
  top:320px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u293 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u294 {
  position:absolute;
  left:533px;
  top:330px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u295 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u296 {
  position:absolute;
  left:690px;
  top:330px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u297 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u298 {
  position:absolute;
  left:533px;
  top:360px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u299 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u300 {
  position:absolute;
  left:780px;
  top:360px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u301 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u302 {
  position:absolute;
  left:460px;
  top:633px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u303 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u304 {
  position:absolute;
  left:460px;
  top:770px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u305 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
