body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:972px;
}
#u299 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:972px;
}
#u300 {
  position:absolute;
  left:2px;
  top:478px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:972px;
}
#u301 {
  position:absolute;
  left:450px;
  top:0px;
  width:375px;
  height:972px;
}
#u302 {
  position:absolute;
  left:2px;
  top:478px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u303 {
  position:absolute;
  left:460px;
  top:57px;
  width:40px;
  height:33px;
  overflow:hidden;
}
#u303_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:33px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u303_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u304 {
  position:absolute;
  left:6px;
  top:60px;
  width:40px;
  height:33px;
  overflow:hidden;
}
#u304_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:33px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u304_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u305 {
  position:absolute;
  left:460px;
  top:57px;
  width:40px;
  height:33px;
  overflow:hidden;
}
#u305_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:33px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u305_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:443px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u306 {
  position:absolute;
  left:880px;
  top:107px;
  width:300px;
  height:443px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u307 {
  position:absolute;
  left:8px;
  top:4px;
  width:292px;
  word-wrap:break-word;
}
#u308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u308 {
  position:absolute;
  left:674px;
  top:113px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u309 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u310 {
  position:absolute;
  left:500px;
  top:154px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u311 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u312 {
  position:absolute;
  left:580px;
  top:154px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u313 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u314 {
  position:absolute;
  left:580px;
  top:190px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u315 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u316 {
  position:absolute;
  left:710px;
  top:204px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u317 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u318 {
  position:absolute;
  left:460px;
  top:170px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u319 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u320 {
  position:absolute;
  left:460px;
  top:240px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u321 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u322 {
  position:absolute;
  left:500px;
  top:220px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u323 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u324 {
  position:absolute;
  left:640px;
  top:230px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u325 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u326 {
  position:absolute;
  left:690px;
  top:250px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u327 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u328 {
  position:absolute;
  left:650px;
  top:270px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u329 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u330 {
  position:absolute;
  left:460px;
  top:320px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u331 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u332 {
  position:absolute;
  left:533px;
  top:330px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u333 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u334 {
  position:absolute;
  left:690px;
  top:330px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u335 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u336 {
  position:absolute;
  left:533px;
  top:360px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u337 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u338 {
  position:absolute;
  left:780px;
  top:360px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u339 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u340 {
  position:absolute;
  left:460px;
  top:633px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u341 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u342 {
  position:absolute;
  left:460px;
  top:770px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u343 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
