body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:972px;
}
#u539 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:972px;
}
#u540 {
  position:absolute;
  left:2px;
  top:478px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:972px;
}
#u541 {
  position:absolute;
  left:450px;
  top:0px;
  width:375px;
  height:972px;
}
#u542 {
  position:absolute;
  left:2px;
  top:478px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u543 {
  position:absolute;
  left:460px;
  top:57px;
  width:40px;
  height:33px;
  overflow:hidden;
}
#u543_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:33px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u543_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u544 {
  position:absolute;
  left:6px;
  top:60px;
  width:40px;
  height:33px;
  overflow:hidden;
}
#u544_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:33px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u544_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:443px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u545 {
  position:absolute;
  left:880px;
  top:107px;
  width:300px;
  height:443px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u546 {
  position:absolute;
  left:8px;
  top:4px;
  width:292px;
  word-wrap:break-word;
}
#u547 {
  position:absolute;
  left:830px;
  top:120px;
  width:0px;
  height:0px;
}
#u547_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u547_seg1 {
  position:absolute;
  left:36px;
  top:-4px;
  width:8px;
  height:217px;
}
#u547_seg2 {
  position:absolute;
  left:36px;
  top:205px;
  width:14px;
  height:8px;
}
#u547_seg3 {
  position:absolute;
  left:35px;
  top:199px;
  width:20px;
  height:20px;
}
#u548 {
  position:absolute;
  left:-10px;
  top:82px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u549 {
  position:absolute;
  left:674px;
  top:113px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u550 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u551 {
  position:absolute;
  left:500px;
  top:154px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u552 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u553 {
  position:absolute;
  left:580px;
  top:154px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u554 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u555 {
  position:absolute;
  left:580px;
  top:190px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u556 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u557 {
  position:absolute;
  left:710px;
  top:204px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u558 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u559 {
  position:absolute;
  left:460px;
  top:170px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u560 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u561 {
  position:absolute;
  left:460px;
  top:240px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u562 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u563 {
  position:absolute;
  left:500px;
  top:220px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u564 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u565 {
  position:absolute;
  left:640px;
  top:230px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u566 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u567 {
  position:absolute;
  left:690px;
  top:250px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u568 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u569 {
  position:absolute;
  left:650px;
  top:270px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u570 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u571 {
  position:absolute;
  left:460px;
  top:320px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u572 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u573 {
  position:absolute;
  left:533px;
  top:330px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u574 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u575 {
  position:absolute;
  left:690px;
  top:330px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u576 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u577_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u577 {
  position:absolute;
  left:533px;
  top:360px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u578 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u579_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u579 {
  position:absolute;
  left:780px;
  top:360px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u580 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u581_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u581 {
  position:absolute;
  left:460px;
  top:633px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u582 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u583_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u583 {
  position:absolute;
  left:460px;
  top:770px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u584 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
